<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Draw a rectangle', prawn_documents_path %></li>
    <li><%= link_to 'Filling the gaps', sablon_documents_path %></li>
    <li><%= link_to 'Build a report', weasyprint_documents_path %></li>
  </ul>
</nav>